mixin ifie(data)
    <!--[if lte IE 9]>
        div.browserupgrade
            p.browserupgrade__inner
                | Вы используете 
                strong устаревший
                |  браузер. Пожалуйста, 
                a(style='text-decoration: underline;', href='http://browsehappy.com/') обновите его
                | , чтобы просмотреть сайт
    <![endif]-->