include ../../../../node_modules/bemto.pug/bemto

include head
//- include favicon
include ifie
include noscript
include styles

include ../../header/header
include ../../main/main
include ../../icon/icon
include ../../input/input
include ../../posts/posts
include ../../loader/loader

